@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #4B4B4B;
    --primary-color: #707070;
    --secondary-color: #bbbbbb;
}

h1 {
    color: var(--secondary-color);
    margin-bottom: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    padding-top: 10px;
    margin-bottom: 50px;    
}

section {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    min-height: 80vh;   
}

.todo-list {
    border: 2px solid var(--primary-color);
    border-radius: 5%;
    height: 80%;
    width: 50%;
}

form {
    display: flex;
    flex-direction: row;
    border: var(--primary-color) solid 2px;
    border-radius: 5px;
}

form:focus-within {
    border: var(--secondary-color) 2px solid;
}

#input-entry {
    background-color: var(--body-color);
    color: var(--secondary-color);
    margin-right: 5px;
    height: auto;
    border-radius: 5px;
    text-indent: 2%;
    border: none;
    flex-grow: 2;
    min-width: 10px;
}

#input-entry:focus {
    outline: auto;
    outline-width: 0;
    border: none;
}

#add-button {
    color: var(--primary-color);
    font-size: 2.5em;
    border-radius: 5px;
    border: var(--primary-color) solid 3px;
}

.remove-item-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--body-color);
    border: none;
    border-radius: 5px;
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.remove-item-button:hover {
    background-color: var(--primary-color);
}


.todo-entry-checkbox {
    accent-color: var(--primary-color);
    margin-right: 5px;
}

label {
    flex-grow: 2;
}

ul {
    margin-top: 5px;

}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    list-style-type: none;
    border-top: var(--primary-color) solid 1px;
    border-bottom: var(--primary-color) solid 1px;
    padding-left: 5px;
    padding-right: 5px;
}

#add-button-image {
    fill: var(--primary-color);
    width: 100%;
    height: 100%;

}

#add-button-image:hover {
    fill: var(--secondary-color);
}

#add-button-container {
    background-color: var(--body-color);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

#add-button-container:focus-visible {
    outline: var(--secondary-color) 1px solid;
}

input[type=checkbox]:focus-visible {
    outline: var(--secondary-color) 1px solid;
}

.completed {
    text-decoration: line-through;
  }